body{
    width:1000px;
    font-family: "Verdana", sans-serif;
}
.matrix {
    width: 36px;
    height: 20px;
    padding-top: 20px;
    padding-inline: 10px;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: cadetblue;
    outline: none;
}
#block1{
    position: absolute;
    left:400px;
    top:168px;
}

h2{
    color: cadetblue;
}

h3{
    font-size: small;
}

#error{
    color: red;
    padding-top: 20px;
    font-weight: lighter;
    font-size: small;
}

#number {
    outline: none;
    padding-top: 0;
    padding-inline: 10px;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: darkslategrey;
}
#answer{
    font-weight: bold;
}

#iterations{
    text-align: center;
    width: 300px;
    padding-top: 10px;
}
#block{
    left: 90px;
    margin-top: 10px;
    position: relative;
}
#btn {
    width: 120px;
    height: 40px;
    background: darkcyan;
    color: #2d2f31;
    border-radius: 30px;
    border: 0;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    outline: none;
    cursor: pointer;
}

#btn:hover {
    box-shadow: 0 0 6px 0 #00d7c3 inset, 0 0 14px 2px #00d7c3;
    border: 1px solid #00d7c3;
    color:whitesmoke;
}

#btn:active {
    color: #000;
    background: cadetblue;
    box-shadow: 0 0 14px 0 darkcyan inset, 0 0 1px 1px darkcyan;
    border: 0;
}


